@model IEnumerable<Common.DTOs.DtoCuadrilla>

@{
    ViewBag.Title = "ListarCuadrillas";
}

<h2>ListarCuadrillas</h2>

<p>
    @Html.ActionLink("Agregar cuadrilla", "Agregar", "Cuadrilla")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.encargado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidadPeones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.encargado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadPeones)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
