@model Common.DTOs.DtoZona

@{
    ViewBag.Title = "NuevaZona";
}
<h2>Nueva Zona</h2>
@using (Html.BeginForm("AgregarZona", "Zona", FormMethod.Post, new { @id = "formulario" }))
{
    @Html.AntiForgeryToken()

<div class="prueba">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div id="abj">
        <div id="dibujar" class="texto">Dibujar</div>
        <div class="lin"></div>
        <div id="completarZona" class="texto">Completar</div>
        <div class="lin"></div>
        <div id="editarOn" class="texto">Editar</div>
        <div class="lin"></div>
        <div id="editarOff" class="texto">Terminar</div>
        <div class="lin"></div>
        <div id="borrar" class="texto">Borrar</div>
    </div>
    <div id="control">
        <div id="nombreColor">
            <div class="p2">
                <div>Nombre: </div>
                <div class="">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @id = "nombrezonatxt", @class = "", @placeholder = "Nombre de zona" } })
                </div>
            </div>

            <div class="p2">
                <div>Color: </div>
                <div class="">
                    @Html.EditorFor(model => model.color, new { htmlAttributes = new { @type = "color", @class = "" } })

                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_Mapa")

    <div id="errores">
        <div id="cerrar">
            <div id="linea1"></div>
            <div id="linea2"></div>
        </div>
        @Html.ValidationMessageFor(model => model.color, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.numero, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.Puntos, "", new { @class = "text-danger" })
    </div>


    @{/*<div class="">
        <div class="">
            @Html.EditorFor(model => model.numero, new { htmlAttributes = new { @Value = ViewBag.NumeroZona, style = "visibility:hidden; " } })

        </div>
    </div>*/}

    <div class="">
        <div class="">
            @Html.EditorFor(model => model.Puntos, new { htmlAttributes = new { style = "visibility:hidden;" }})
        </div>
    </div>

    <script>
        editor = true;
    </script>
    <div id="crear" class="">
        <div class="texto">
            <input id="enviar" type="submit" value="Guardar" class="" />
        </div>
    </div>
</div>


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}